@model UniMarte.Web.Models.Visitante

@{
    ViewData["Title"] = "Cadastro";
}

<div class="cadastro-principal">
    <div class="cadastro-esquerdo">
        <h1> Vamos começar? <br> Proxima parada marte!</h1>
        <img src="~/Images/planetas.svg" class="imagem-cadastro-esquerdo">
    </div>
    <form id ="visitantesForm" asp-action="Cadastrar" method="post">
        <div class="cadastro-direito">
            <div class="tela-cadastro">
                <h1>Cadastro</h1>
                <div class="campo-texto">
                    <label for="Nome" class="label-cadastro">Nome</label>
                    <input asp-for="Nome" id="Nome" class="form-control" placeholder="Nome" required>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="campo-texto">
                    <label for="DataNascimento" class="label-cadastro">Data de Nascimento</label>
                    <input asp-for="DataNascimento" id="DataNascimento" class="form-control" type="date" required>
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-cadastro">Cadastrar</button>
            </div>
        </div>        
    </form>
</div>
