@model UniMarte.Web.Models.Visitante

@{
    ViewData["Title"] = "Cadastro";
}

<div class="cadastro-principal">
    <div class="cadastro-esquerdo">
        <h1> Vamos começar? <br> Proxima parada marte!</h1>
        <img src="~/Images/planetas.svg" class="imagem-cadastro-esquerdo">
    </div>
    <form id ="visitantesForm" asp-action="Cadastrar" method="post">
        <div class="cadastro-direito">
            <div class="tela-cadastro">
                <h1>Cadastro</h1>
                <div class="campo-texto">
                    <input asp-for="Nome" class="form-control" placeholder="Nome" required>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="campo-texto">
                    <input asp-for="DataNascimento" class="form-control" type="date" placeholder="Data de Nascimento" required>
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-cadastro">Cadastrar</button>
            </div>
        </div>        
    </form>
</div>
