@{
    ViewData["Title"] = "Home Page";
}

<div class="slideshow-container" id="slideshow" onclick="navigateToVisitantes()">
    <div class="slides fade">
        <img src="https://unimarteimages.blob.core.windows.net/unimarteimages/UniMarte.jpg" alt="Obra 1" style="width:100%">
    </div>
    <div class="slides fade">
        <img src="https://unimarteimages.blob.core.windows.net/unimarteimages/MarteTerra.jpg" alt="Obra 2" style="width:100%">
    </div>
    <div class="slides fade">
        <img src="https://unimarteimages.blob.core.windows.net/unimarteimages/UniMarteInterior.jpg" alt="Obra 3" style="width:100%">
    </div>
</div>

